<h2>Step 0: Imports</h2>

In [ ]:
import pandas as pd
import numpy as np
import keras
from keras import layers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import tensorflow as tf
import phik
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

#from ctgan import CTGAN
#from sklearn.ensemble import IsolationForest
#from sklearn.preprocessing import KBinsDiscretizer
#from imblearn.under_sampling import RandomUnderSampler
#from sklearn.linear_model import RANSACRegressor
#from imblearn.over_sampling import SMOTE, ADASYN

pd.set_option('display.float_format', '{:.2f}'.format)

<h2>Step 1: Choose a Dataset</h2>
<p>While the almond Dataset worked really well, and everything went Smooth, i think maybe choosing the regression Dataset tat is full of Problems and challanges, might be better, there i changed, cut, removed, generated, so much things, that it is a "Ship of Theseus" So while it will Probably be bad, and most ofmy changes will probably have made the dataset useless and inaccurate and too farfrom the original, thats what i want to check right here </p>
<p>The Dataset, that i will be using is called "prepared_Zillow", this will be the clean_zillow  from excercie 1, with the collumns dropped from excercise 2, with no further work done, to ensure this you can look at preparation.ipynb</p>

<p><b>LEGACY:</b> I felt really good writing this text, now i have re-read the exercise Project, and it seems we have to do both datasets anyway, bruh</p>

<p><b>LEGACY 2:</b> I hav done all of step 1 In the Preparation.ipynb, i might rename it to step 1</p>

In [2]:
zf = pd.read_csv("Prepared_Zillow.csv")
af=pd.read_csv("Prepared_Almond.csv")

In [3]:
zf.head()

,longitude,countyFIPS,monthlyHoaFee,annualHomeownersInsurance,yearBuilt,latitude,rentZestimate,timeOnZillow,livingArea,zipcode,propertyTaxRate,bathrooms,bedrooms,price,homeType_CONDO,homeType_SINGLE_FAMILY,homeType_OTHER,cluster,cluster_average_price
0,-149.91,2020.00,0.00,2840,1959.00,61.22,3142.00,3609.00,2668.00,99501,1.31,2.00,3.00,676100,0,1,0,3,380546.29
1,-149.91,2020.00,0.00,2934,1961.00,61.22,3113.00,4334.00,3179.00,99501,1.31,2.00,3.00,698600,0,1,0,0,657634.91
2,-149.91,2020.00,0.00,4187,1983.00,61.22,4282.00,3758.00,3059.00,99501,1.31,3.00,4.00,996800,0,1,0,0,657634.91
3,-149.91,2020.00,0.00,2920,1947.00,61.22,3458.00,3543.00,1642.00,99501,1.31,2.00,5.00,695300,0,1,0,3,380546.29
4,-149.91,2020.00,0.00,4100,2000.00,61.22,4161.00,3953.00,4483.00,99501,1.31,4.00,4.00,976100,1,0,0,0,657634.91

In [4]:
af.head()

,Length,Width,Area,Roundness,Solidity,Compactness,Aspect_Ratio,Eccentricity,Extent,Type,cluster,cluster_average_Type
0,272.55,227.94,22619.00,0.46,0.97,1.46,1.57,0.80,0.68,0,0,1.17
1,340.94,234.19,23038.00,0.45,0.96,1.60,1.55,0.76,0.66,0,1,0.88
2,344.60,229.42,22386.50,0.18,0.97,1.49,1.70,0.85,0.68,0,1,0.88
3,367.85,232.76,22578.50,0.55,0.97,1.54,1.94,0.81,0.69,0,2,0.69
4,276.14,230.15,19068.00,0.43,0.95,1.63,2.14,0.84,0.71,0,3,0.88