In [1]:
import sweetviz as sv
import pandas as pd

In [2]:
df = pd.read_csv("clean_Zillow.csv")
df.head()

,longitude,countyFIPS,monthlyHoaFee,annualHomeownersInsurance,state,yearBuilt,latitude,rentZestimate,city,zestimateLowPercent,...,bathrooms,bedrooms,price,zestimateHighPercent,homeType_APARTMENT,homeType_CONDO,homeType_LOT,homeType_MANUFACTURED,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY
0,-149.90807,2020.0,0.0,2840,AK,1959.0,61.217308,3142.0,Anchorage,12.0,...,2.0,3.0,676100,13.0,0,0,0,0,0,1
1,-149.90822,2020.0,0.0,2934,AK,1961.0,61.217136,3113.0,Anchorage,12.0,...,2.0,3.0,698600,13.0,0,0,0,0,0,1
2,-149.90833,2020.0,0.0,4187,AK,1983.0,61.217000,4282.0,Anchorage,12.0,...,3.0,4.0,996800,14.0,0,0,0,0,0,1
3,-149.90834,2020.0,0.0,2920,AK,1947.0,61.216720,3458.0,Anchorage,15.0,...,2.0,5.0,695300,16.0,0,0,0,0,0,1
4,-149.90749,2020.0,0.0,4100,AK,2000.0,61.217120,4161.0,Anchorage,18.0,...,4.0,4.0,976100,24.0,0,1,0,0,0,0

In [3]:
report=sv.analyze(df)
report.show_html('Zillow_ydata.html')

                                             |          | [  0%]   00:00 -> (? left)

Report Zillow_ydata.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.